*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sizeBtn {
  padding: 8px 16px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  background-color: #eac9c9;
}

.row {
  display: flex;
}

.cell {
  height: 10px;
  width: 10px;
  background-color: beige;
  outline: 1px solid black;
}

.cell.active {
  background-color: rgba(211, 240, 240, 0.886);
}